

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;

}

body{
    background-color: black;
        color: #fff;
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
}

h1{
    text-align: center;
    text-transform: capitalize;
}
h2{
    text-align: center;
    margin-top: 15px;
    text-transform: capitalize;
    letter-spacing: 1.2px;
}

p{
    text-align: center;
    margin-top: 35px;
    letter-spacing: 1.2px;
}

/* .weather{
  margin-top: 40px;
  
}

.desc{
   margin-top: 40px;
} */



.container{
 width: 50%;
   /* background-color: #161616; */
   border-radius: 20px;
    box-shadow: rgba(194, 188, 159, 0.2) 0px -15px 37px,
    rgba(194, 188, 188, 0.1) 0px 5px 15px,rgba(177, 175, 175, 0.1) 0px 5px 15px,rgba(180, 179, 179, 0.1) 0px 5px 15px;
    padding: 20px 20px;
    border-left: 1px solid #0ef;
    border-right: 1px solid #0ef;
    /* border-top:0.05px solid #0ef;
    border-bottom: 0.05px solid #0ef; */
    
}

.search{
   width: 100%;
   }

.input-box {             
    width: 60%;
   margin-left: 60px ;
   margin-top: 10px;
   padding: 7px 10px;
/* background-color: #161616; */
font-size: 15px;
font-weight: 600;
border-radius: 10px;
background: transparent;
color: #e5e0e0;
letter-spacing: 1.5px;
    
 

 
    
}
#search{
    background-color:#484646;
    padding:15px 35px;
    border-radius: 10px;
    color: #fff;
    font-weight: 800;
    &:hover{
        background: transparent;
        font-size: 15px;
        font-weight: 600;
        color: #e5e0e0;

    }

    
}

 @media screen  and (max-width:1024px){
   .input-box{
    width:40%;
    font-size: 10px;
   }
   #search{
    padding: 3px 6px;
    font-weight: 800;
    color: #e5e0e0;
    margin-top: 10px;
   
   } 


    
}


